MYSQL_DATABASE=hermes
MYSQL_PORT=3308
MYSQL_INTERNAL_PORT=3306
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=password1234!
MYSQL_USER=hermes_user        
MYSQL_PASSWORD=hermes_pass
MAIL_PORT=1025
MAIL_HOST=mailhog
DEFAULT_CONNECTION=Server=hermes-mysql;Port=3306;Database=hermes;User=root;Password=password1234!;SslMode=none;
JWT_SIGNING_KEY=SuperSichererUndExtremLangerSchluessel123456!
NEWS_DATA_IO_KEY=newsdataio_key_placeholder