@inherits LayoutComponentBase

<div class="mainlayout-root">
    <div class="mainlayout-poster" aria-hidden="true">
        <div class="mainlayout-poster__stack">
            <span class="mainlayout-poster__t mainlayout-poster__t--1">hermes</span>
            <span class="mainlayout-poster__t mainlayout-poster__t--2">hermes</span>
            <span class="mainlayout-poster__t mainlayout-poster__t--3">hermes</span>
        </div>
    </div>
    <div class="mainlayout-content">
        @Body
    </div>
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</div>
